In [117]:
#Chapter8

In [14]:
##A_String
fruit = 'banana'
letter = fruit[1]

In [7]:
letter

'a'

In [8]:
letter = fruit[0]

In [9]:
letter

'b'

In [10]:
name = 'Moneerah'
letter = name[0]

In [11]:
letter

'M'

In [12]:
i = 1
name [i]

'o'

In [13]:
name[i+2]

'e'

In [15]:
##len
fruit = 'banana'
len(fruit)

6

In [16]:
name = 'Moneerah'
len(name)

8

In [18]:
length = len(fruit)
last = fruit[length-1]

In [19]:
last

'a'

In [20]:
length = len(name)
last = name[length-1]

In [21]:
last

'h'

In [23]:
##Traversal_with_a_for_Loop
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [24]:
index = 0
while index < len(name):
    letter = name[index]
    print(letter)
    index = index + 1

M
o
n
e
e
r
a
h

In [26]:
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [27]:
for letter in name:
    print(letter)

M
o
n
e
e
r
a
h

In [28]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
    print(letter + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [29]:
prefixes = 'LBMHS'
suffix = 'ike'
for letter in prefixes:
    print(letter + suffix)

Like
Bike
Mike
Hike
Sike

In [31]:
##String Slices
s = 'Monty Python'
s[0:5]

'Monty'

In [32]:
s[6:12]

'Python'

In [33]:
n = 'Moneerah Alboulayan'
n[0:8]

'Moneerah'

In [35]:
n[9:19]

'Alboulayan'

In [36]:
fruit = 'banana'
fruit[:3]

'ban'

In [37]:
fruit[3:]

'ana'

In [40]:
fruit = 'banana'
fruit[3:3]

''

In [38]:
n = 'Moneerah'
n[:5]

'Monee'

In [39]:
n[5:]

'rah'

In [41]:
n[5:5]

''

In [42]:
n[:]

'Moneerah'

In [43]:
##Strings_Are_Immutable
greeting = 'Hello, world!'
new_greeting = 'J' + greeting[1:]
new_greeting

'Jello, world!'

In [126]:
##Searching
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
    return -1

In [52]:
word = 'Hello'
letter = word[4]
find(word, letter)

4

In [53]:
##Looping_and_Counting
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

In [54]:
word = 'havanaonana'
count = 0
for letter in word:
    if letter == 'n':
        count =  count + 1
print(count)

3

In [55]:
##String_Methods
word = 'banana'
new_word = word.upper()
new_word

'BANANA'

In [56]:
word = 'caution!'
new_word = word.upper()
new_word

'CAUTION!'

In [57]:
word = 'HELLO!'
new_word = word.lower()
new_word

'hello!'

In [58]:
word = 'banana'
index = word.find('a')
index

1

In [59]:
word.find('na')

2

In [60]:
word.find('na', 3)

4

In [61]:
name = 'bob'
name.find('b', 1, 2)

-1

In [62]:
##The_in_Operator
'a' in 'banana'

True

In [63]:
'seed' in 'banana'

False

In [64]:
'c' in 'hello'

False

In [65]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)

In [68]:
in_both('apples', 'oranges')

a
e
s

In [67]:
in_both('like','hike')

i
k
e

In [73]:
##String_Comparison
word = 'banana'
if word == 'banana':
    print('All right, bananas.')

All right, bananas.

In [74]:
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.

In [92]:
#Debugging
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
    i = 0
    j = len(word2)-1
    
    while j > 0:
        print(i, j) 
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1

    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1
    return True

is_reverse('stop','pots')

0 3
1 2
2 1

True

In [93]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
    i = 0
    j = len(word2)-1
    
    while j > 0:
        print(i, j) 
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1

    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1
    return True

is_reverse('hi','ih')

0 1

True

In [94]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
    i = 0
    j = len(word2)-1
    
    while j > 0:
        print(i, j) 
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1

    while j > 0:
        if word1[i] != word2[j]:
            return False
        i = i+1
        j = j-1
    return True

is_reverse('hello','hola')

False

In [95]:
#Chapter9

In [118]:
fin = open('words.txt')

In [124]:
fin.readline()

''

In [123]:
line = fin.readline()
word = line.strip()
word

''

In [122]:
fin = open('words.txt')
for line in fin:
    word = line.strip()
    print(word)

In [131]:
##Search
def avoids(word, forbidden):
    for letter in word:
        if letter in forbidden:
            return False
    return True

In [132]:
forbidden = 'hola'
avoids(word, forbidden)

False

In [149]:
def uses_only(word, available):
    for letter in word:
        if letter not in available:
            return False
    return True

In [151]:
available = 'week'
uses_only(word, available)

False

In [146]:
def uses_all(word, required):
    for letter in required:
        if letter not in word:
            return False
    return True

In [147]:
def uses_all(word, required):
    return uses_only(required, word)

In [152]:
required = 'class'
uses_all(word, required)

False

In [154]:
##Looping_with_Indices
def is_abecedarian(word):
    previous = word[0]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True

In [155]:
is_abecedarian(word)

False

In [157]:
def is_abecedarian(word):
    previous = word[3]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True

In [158]:
def is_abecedarian(word):
    if len(word) <= 1:
        return True
    if word[0] > word[1]:
        return False
    return is_abecedarian(word[1:])

In [160]:
is_abecedarian(word)

False

In [159]:
def is_abecedarian(word):
    i = 0
    while i < len(word)-1:
        if word[i+1] < word[i]:
            return False
        i = i+1
    return True

In [161]:
word = 'apple'
is_abecedarian(word)

False

In [162]:
#Chapter10

In [163]:
##A_List_Is_a_Sequence
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [165]:
courses = ['math', 'science', 'social studies']
enrollment_no = [23,15,22]
class_no = ['A1', 'A3', 'A8']
print (courses, enrollment_no, class_no )

['math', 'science', 'social studies'] [23, 15, 22] ['A1', 'A3', 'A8']

In [166]:
##Lists_Are_Mutable
cheeses[0]

'Cheddar'

In [167]:
courses[2]

'social studies'

In [168]:
numbers = [42, 123]
numbers[1] = 5
numbers

[42, 5]

In [169]:
class_no = ['A1', 'A3', 'A8']
class_no[0] = 'B2'
class_no

['B2', 'A3', 'A8']

In [173]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

True

In [174]:
'Brie' in cheeses

False

In [175]:
courses = ['math', 'science', 'social studies']
'math' in courses

True

In [176]:
'economic' in courses

False

In [177]:
##Traversin_a_List

In [178]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [186]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print(numbers)

[168, 10]
[168, 20]

In [185]:
for x in []:
    print('This never happens.')

In [187]:
##List_Operations
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [188]:
[0] * 4

[0, 0, 0, 0]

In [189]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [190]:
['HI']*2

['HI', 'HI']

In [195]:
##List_Slices
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [192]:
t[:4]

['a', 'b', 'c', 'd']

In [193]:
t[3:]

['d', 'e', 'f']

In [194]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [196]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
t

['a', 'x', 'y', 'd', 'e', 'f']

In [197]:
##List_Methods
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [198]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

In [199]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [203]:
##Map_Filter_and_Reduce
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total

In [205]:
t = [1, 2, 3]
sum(t)

6

In [206]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [208]:
t = 'hello'
capitalize_all(t)

['H', 'E', 'L', 'L', 'O']

In [209]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
        return res

In [212]:
t = 'Never'
only_upper(t)

['N']

In [213]:
##Deleting_Elements
t = ['a', 'b', 'c']
x = t.pop(1)
t

['a', 'c']

In [214]:
x

'b'

In [215]:
t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

In [216]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['a', 'f']

In [217]:
##Lists_and_Strings
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

In [218]:
s = 'pining for the fjords'
t = s.split()
t

['pining', 'for', 'the', 'fjords']

In [220]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

['spam', 'spam', 'spam']

In [222]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'pining for the fjords'

In [223]:
##Objects_and_Values
a = 'banana'
b = 'banana'
a is b

True

In [224]:
a = 'moneerah'
b = 'mohsen'
a is b

False

In [225]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [227]:
a = ['moneerah']
b = ['moneerah']
a is b

False

In [228]:
#Aliasing
a = [1, 2, 3]
b = a
b is a

True

In [230]:
a

[42, 2, 3]

In [232]:
b[0] = 1
a

[1, 2, 3]

In [233]:
##List_Arguments
def delete_head(t):
    del t[0]

In [234]:
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']

In [235]:
names = ['moneerah', 'mohsen', 'bandar']
delete_head(names)
names

['mohsen', 'bandar']

In [244]:
t1 = [1, 2]
t2 = t1.append(3)
t1

[1, 2, 3]

In [245]:
t2

In [247]:
t3 = t1 + [4]
t1

[1, 2, 3]

In [248]:
t3

[1, 2, 3, 4]

In [252]:
def bad_delete_head(t):
    t = t[1:]

In [253]:
t4 = [1, 2, 3]
bad_delete_head(t4)
t4

[1, 2, 3]

In [254]:
def tail(t):
    return t[1:]

In [255]:
letters = ['a', 'b', 'c']
rest = tail(letters)
rest

['b', 'c']

In [256]:
##Debugging
word = word.strip()

In [257]:
t = t.sort()

In [260]:
t = [3, 1, 2]
t2 = t[:]
t2.sort()
t

[3, 1, 2]

In [261]:
t2

[1, 2, 3]

In [262]:
t2 = sorted(t)
t

[3, 1, 2]

In [263]:
t2

[1, 2, 3]

In [264]:
#Chapter11

In [265]:
##A_Dictionary_Is_a_Mapping
eng2sp = dict()
eng2sp

{}

In [266]:
eng2sp['one'] = 'uno'

In [267]:
eng2sp

{'one': 'uno'}

In [269]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
eng2sp

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

In [270]:
eng2sp['two']

'dos'

In [271]:
len(eng2sp)

3

In [273]:
'one' in eng2sp

True

In [274]:
'uno' in eng2sp

False

In [276]:
vals = eng2sp.values()
'uno' in vals

True

In [277]:
##Dictionary_as_a_Collection_of_Counters
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d

In [278]:
h = histogram('brontosaurus')
h

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [279]:
h = histogram('a')
h

{'a': 1}

In [280]:
h.get('a', 0)

1

In [281]:
h.get('b', 0)

0

In [282]:
##Looping_and_Dictionaries
def print_hist(h):
    for c in h:
        print(c, h[c])

In [283]:
h = histogram('parrot')
print_hist(h)

p 1
a 1
r 2
o 1
t 1

In [285]:
for key in sorted(h):
    print(key, h[key])

a 1
o 1
p 1
r 2
t 1

In [293]:
##Reverse_Lookup
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return k
    raise LookupError()

In [295]:
h = histogram('parrot')
k = reverse_lookup(h, 2)
k

'r'

In [296]:
##Dictionaries_and_Lists
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse

In [297]:
hist = histogram('parrot')
hist

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

In [299]:
inverse = invert_dict(hist)
inverse

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [300]:
##Memos
known = {0:0, 1:1}
def fibonacci(n):
    if n in known:
        return known[n]
    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return res

In [304]:
fibonacci(4)

3

In [305]:
##Global_Variables
verbose = True
def example1():
    if verbose:
        print('Running example1')

In [306]:
example1()

Running example1

In [308]:
been_called = False
def example2():
    been_called = True

In [310]:
example2()

In [311]:
been_called = False
def example2():
    global been_called
    been_called = True

In [312]:
example2()

In [313]:
count = 0
def example3():
    count = count + 1

In [322]:
example3()

In [314]:
def example3():
    global count
    count += 1

In [315]:
def example5():
    global known
    known = dict()

In [321]:
example5()

In [323]:
#Chapter12

In [324]:
##Tuples_Are_Immutable
t = 'a', 'b', 'c', 'd', 'e'
t

('a', 'b', 'c', 'd', 'e')

In [325]:
t1 = ('a', 'b', 'c', 'd', 'e')
t1

('a', 'b', 'c', 'd', 'e')

In [327]:
t2 = 'a',
type(t2)

tuple

In [328]:
t3 = ('a')
type(t3)

str

In [329]:
t = tuple()
t

()

In [330]:
t = tuple('lupins')
t

('l', 'u', 'p', 'i', 'n', 's')

In [332]:
t = tuple('mohsen')
t

('m', 'o', 'h', 's', 'e', 'n')

In [333]:
t = ('a', 'b', 'c', 'd', 'e')
t[0]

'a'

In [334]:
t[1:3]

('b', 'c')

In [336]:
t = ('A',) + t[1:]
t

('A', 'b', 'c', 'd', 'e')

In [337]:
(0, 1, 2) < (0, 3, 4)

True

In [338]:
(0, 1, 2000000) < (0, 3, 4)

True

In [339]:
##Tuple_Assignment
temp = a
a = b
b = temp

In [340]:
a, b = b, a

In [341]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [342]:
uname

'monty'

In [343]:
domain

'python.org'

In [344]:
##Tuples_as_Return_Values
t = divmod(7, 3)
t

(2, 1)

In [345]:
quot, rem = divmod(7, 3)
quot

2

In [346]:
rem

1

In [348]:
def min_max(t):
    return min(t), max(t)

In [349]:
min_max(t)

(1, 2)

In [350]:
##Variable-Length_Argument_Tuples
def printall(*args):
    print(args)

In [352]:
printall(1, 2.0, '3')

(1, 2.0, '3')

In [353]:
divmod(*t)

(2, 0)

In [354]:
max(1, 2, 3)

3

In [355]:
##Lists_and_Tuples
s = 'abc'
t = [0, 1, 2]
zip(s, t)

In [357]:
for pair in zip(s, t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [358]:
list(zip(s, t))

[('a', 0), ('b', 1), ('c', 2)]

In [359]:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

In [360]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

In [361]:
has_match(t1, t2)

True

In [362]:
##Dictionaries_and_Tuples
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [363]:
for key, value in d.items():
    print(key, value)

a 0
b 1
c 2

In [364]:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t)
d

{'a': 0, 'c': 2, 'b': 1}

In [365]:
d = dict(zip('abc', range(3)))
d

{'a': 0, 'b': 1, 'c': 2}

In [370]:
#GrusChapter2

In [385]:
##Whitespace Formatting
for i in [1, 2, 3, 4, 5]:
    print (i) 
    for j in [1, 2, 3, 4, 5]:
        print (j) 
        print (i + j)
    print (i) 
print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [387]:
for i in [1, 2, 3, 4, 5]:
# notice the blank line
    print (i)

1
2
3
4
5

In [388]:
##Modules
import re
my_regex = re.compile("[0-9]+", re.I)

In [390]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [389]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)

In [391]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [392]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [397]:
match = 10
from re import * 
print (match)

<function match at 0x000001B8226B40D0>

In [401]:
##Arithmetic
from __future__ import division
5/2

2.5

In [402]:
5//2

2

In [405]:
##Functions
def double(x):
    """this is where you put an optional docstring
    that explains what the function does.
    for example, this function multiplies its input by 2"""
    return x * 2

In [410]:
x = '4'
double(x)

'44'

In [411]:
def apply_to_one(f):
    """calls the function f with 1 as its argument"""
    return f(1)

In [417]:
my_double = double 
x = apply_to_one(my_double)
apply_to_one(my_double)

2

In [419]:
def another_double(x): return 2 * x
another_double(x)

4

In [421]:
def my_print(message="my default message"):
    print (message)

In [422]:
my_print("hello") 
my_print()

hello
my default message

In [423]:
def subtract(a=0, b=0):
    return a - b
subtract(10, 5) 
subtract(0, 5) 
subtract(b=5)

-5

In [433]:
##Strings
single_quoted_string = 'data science'
double_quoted_string = "data science"

tab_string = "\t" 
len(single_quoted_string)

12

In [425]:
not_tab_string = r"\t" 
len(not_tab_string)

2

In [427]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

multi_line_string

'This is the first line.\nand this is the second line\nand this is the third line'

In [434]:
##Exceptions
try:
    print (0 / 0)
except ZeroDivisionError:
    print ("cannot divide by zero")

cannot divide by zero

In [438]:
##Lists
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]
list_length = len(integer_list) 
list_sum = sum(integer_list)

In [442]:
first_three = x[:3] # [-1, 1, 2]
three_to_end = x[3:] # [3, 4, ..., 9]
one_to_four = x[1:5] # [1, 2, 3, 4]
last_three = x[-3:] # [7, 8, 9]
without_first_and_last = x[1:-1] # [1, 2, ..., 8]
copy_of_x = x[:] # [-1, 1, 2, ..., 9]

In [443]:
1 in [1, 2, 3]

True

In [444]:
0 in [1, 2, 3]

False

In [446]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [447]:
##Tuples
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3 # my_list is now [1, 3]

try:
    my_tuple[1] = 3
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

In [450]:
def sum_and_product(x, y):
    return (x + y),(x * y)
sp = sum_and_product(2, 3) # equals (5, 6)
s, p = sum_and_product(5, 10) # s is 15, p is 50

In [455]:
x, y = 1, 2 # now x is 1, y is 2
x, y = y, x
sum_and_product(x, y)

(3, 2)

In [456]:
##Dictionaries
empty_dict = {} # Pythonic
empty_dict2 = dict() # less Pythonic
grades = { "Joel" : 80, "Tim" : 95 } # dictionary literal

In [458]:
joels_grade = grades["Joel"]
joels_grade

80

In [459]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print ("no grade for Kate!")

no grade for Kate!

In [462]:
joel_has_grade = "Joel" in grades # True
joel_has_grade

True

In [463]:
kate_has_grade = "Kate" in grades # False
kate_has_grade

False

In [465]:
joels_grade = grades.get("Joel", 0) # equals 80
kates_grade = grades.get("Kate", 0) # equals 0
no_ones_grade = grades.get("No One") # default default is None
joels_grade

80

In [466]:
kates_grade

0

In [468]:
no_ones_grade

In [469]:
grades["Tim"] = 99 # replaces the old value
grades["Kate"] = 100 # adds a third entry
num_students = len(grades)

In [472]:
grades["Tim"]

99

In [475]:
tweet = {
"user" : "joelgrus",
"text" : "Data Science is Awesome",
"retweet_count" : 100,
"hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

tweet

{'user': 'joelgrus',
 'text': 'Data Science is Awesome',
 'retweet_count': 100,
 'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']}

In [477]:
tweet_keys = tweet.keys() # list of keys
tweet_values = tweet.values() # list of values
tweet_items = tweet.items() # list of (key, value) tuples

In [478]:
"user" in tweet_keys # True, but uses a slow list in

True

In [479]:
"user" in tweet # more Pythonic, uses faster dict in

True

In [480]:
"joelgrus" in tweet_values # True

True

In [488]:
from collections import Counter
c = Counter([0, 1, 2, 0])
c

Counter({0: 2, 1: 1, 2: 1})

In [490]:
##Sets
s = set()
s.add(1) # s is now { 1 }
s.add(2) # s is now { 1, 2 }
s.add(2) # s is still { 1, 2 }
x = len(s) # equals 2
y = 2 in s # equals True
z = 3 in s # equals False

In [491]:
stopwords_list = ["a","an","at"] + hundreds_of_other_words + ["yet", "you"]
"zip" in stopwords_list # False, but have to check every element

NameError: name 'hundreds_of_other_words' is not defined

In [1]:
##Control_Flow
if 1 > 2:
    message = "if only 1 were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else (if you want to)"

In [497]:
parity = "even" if x % 2 == 0 else "odd"
x = 2
parity

'odd'

In [2]:
x = 0
while x < 10:
    print (x), "is less than 10"
    x += 1

0
1
2
3
4
5
6
7
8
9

In [4]:
for x in range(10):
    if x == 3:
        continue 
    if x == 5:
        break
    print (x)

0
1
2
4

In [7]:
##Truthiness
ox = None
print (x) == None # prints True, but is not Pythonic
print (x) is None # prints True, and is Pythonic

5
5

True