<a href="https://colab.research.google.com/github/MoneerahAlboulayan/info5731/blob/master/Alboulayan_SelfStudy12_fastai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv

--2019-04-23 14:18:53--  https://raw.githubusercontent.com/wshuyi/demo-customer-churn-ann/master/customer_churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 684858 (669K) [text/plain]
Saving to: ‘customer_churn.csv.2’

customer_churn.csv. 100%[===================>] 668.81K  --.-KB/s    in 0.03s

2019-04-23 14:18:54 (18.8 MB/s) - ‘customer_churn.csv.2’ saved [684858/684858]

In [0]:
import pandas as pd
from fastai.tabular import *

In [0]:
df = pd.read_csv("customer_churn.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
procs = [FillMissing, Categorify, Normalize]

In [0]:
valid_idx = range(len(df)-2000, len(df))

In [0]:
dep_var = 'Exited'
cat_names = ['Geography','Gender','HasCrCard','IsActiveMember']
cont_names = ['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']

In [9]:
data = TabularDataBunch.from_df('',df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names,cont_names=cont_names)
print(data.train_ds.cont_names)

['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [10]:
(cat_x,cont_x),y = next(iter(data.train_dl))
for o in (cat_x, cont_x, y): print(to_np(o[:5]))

[[1 2 2 2]
 [1 2 1 2]
 [2 1 2 1]
 [2 1 1 2]
 [3 2 2 1]]
[[ 0.710629 -0.660044  1.382361  1.118832 -0.905501 -0.401209]
 [ 0.689977  1.33782   0.342275 -1.230944  0.809463 -0.044915]
 [ 0.35955   0.481592 -1.044506  0.686916 -0.905501  0.785558]
 [-0.796945 -0.374635  1.382361  2.084729  0.809463  0.048459]
 [ 0.276943  0.101047 -0.00442  -1.230944  0.809463 -0.195588]]
[0 0 1 0 0]

In [11]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(1, 1e-2)

In [12]:
learn.predict(df.iloc[0])

(Category 0, tensor(0), tensor([0.6748, 0.3252]))

In [13]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit_one_cycle(5, 1e-2)

In [14]:
learn.predict(df.iloc[0])

(Category 0, tensor(0), tensor([0.6368, 0.3632]))