In [ ]:
#chapter2

In [91]:
miles = 26.2
print(miles * 1.61)

42.182

In [95]:
first = 'Moneerah'
secoond = 'Alboulayan'
first + second

'MoneerahAlboulayan'

In [96]:
'warning! '* 3

'warning! warning! warning! '

In [101]:
#chapter3

In [103]:
int(2.647)

2

In [105]:
float(4)

4.0

In [106]:
str(2.3)

'2.3'

In [109]:
str('Hello!')

'Hello!'

In [117]:
import math

In [118]:
math

In [120]:
degrees = 45
radians = degrees / 180.0 * math.pi
math.sin(radians)

0.7071067811865476

In [2]:
math.sqrt(3) / 3.0

0.5773502691896257

In [5]:
def print_lyrics():
    print("I'm a lumberjack, and I'm okay.")
    print("I sleep all night and I work all day.")

In [6]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [8]:
def home_instructions():
    print('shoes are not allowed inside the house.')
    print('no staying out after 10 pm.')
    print('no food in the livingroom.')

In [9]:
home_instructions()

shoes are not allowed inside the house.
no staying out after 10 pm.
no food in the livingroom.

In [10]:
def repeat_lyrics():
    print_lyrics()
    print_lyrics()

In [11]:
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [123]:
def print_twice(bruce):
    print(bruce)
    print(bruce)

In [16]:
print_twice('Moneerah')

Moneerah
Moneerah

In [18]:
print_twice('ERROR '*3)

ERROR ERROR ERROR
ERROR ERROR ERROR

In [124]:
print_twice(math.pi)

3.141592653589793
3.141592653589793

In [125]:
Mo = 'Mohsen is my oldest son!'
print_twice(Mo)

Mohsen is my oldest son!
Mohsen is my oldest son!

In [134]:
def cat_twice(part1, part2):
    cat = part1 + part2
    print_twice(cat)
cat_twice('kitty', 'cat')

kittycat
kittycat

In [129]:
line1 = 'Bing tiddle '
line2 = 'tiddle bang.'
cat_twice(line1, line2)

Bing tiddle tiddle bang.
Bing tiddle tiddle bang.

In [132]:
x = math.cos(radians)
golden = (math.sqrt(5) + 1) / 2
math.sqrt(4)

2.0

In [136]:
result = print_twice('Bing')
print(result)

Bing
Bing
None

In [137]:
#chapter4

In [26]:
import turtle
bob = turtle.Turtle()
print(bob)
bob.fd(100)
bob.lt(90)
bob.fd(100)
bob.fd(100)
bob.lt(90)
bob.fd(100)
turtle.mainloop()

<turtle.Turtle object at 0x00000244E863DB70>

In [3]:
for i in range(4):
    print('Hello!')

Hello!
Hello!
Hello!
Hello!

In [4]:
for i in range(6):
    print('Good morning')

Good morning
Good morning
Good morning
Good morning
Good morning
Good morning

In [28]:
import turtle
bob = turtle.Turtle()
print(bob)
for i in range(4):
    bob.fd(100)
    bob.lt(90)
turtle.mainloop()

<turtle.Turtle object at 0x00000244E863DE48>

In [33]:
import turtle
def square(t):
    for i in range(4):
        t.fd(100)
        t.lt(90)
square(turtle.Turtle())
turtle.mainloop()

In [35]:
import turtle
def polygon(t, n, length):
    angle = 360 / n
    for i in range(n):
        t.fd(length)
        t.lt(angle)
        
polygon(turtle.Turtle(), 7, 70)
turtle.mainloop()

In [37]:
import math
import turtle
def circle(t, r):
    circumference = 2 * math.pi * r
    n = 50
    length = circumference / n
    polygon(t, n, length)

circle(turtle.Turtle(), 100)
turtle.mainloop()

In [40]:
import math
import turtle
def polyline(t, n, length, angle):
    for i in range(n):
        t.fd(length)
        t.lt(angle)

def polygon(t, n, length):
    angle = 360.0 / n
    polyline(t, n, length, angle)

def arc(t, r, angle):
    arc_length = 2 * math.pi * r * angle / 360
    n = int(arc_length / 3) + 1
    step_length = arc_length / n
    step_angle = float(angle) / n
    polyline(t, n, step_length, step_angle)

def circle(t, r):
    arc(t, r, 360)
    
arc(turtle.Turtle(), 100, 180)
turtle.mainloop()

In [41]:
#chapter5

In [42]:
days = 294
weeks = days // 7

In [53]:
weeks

42

In [52]:
2 == 2

True

In [54]:
2 == 3

False

In [42]:
x = 10
if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')

x is even

In [45]:
y = 23
x = 12
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is less than y

In [66]:
def countdown(n):
    if n <= 0:
        print('Blastoff!')
    else:
        print(n)
        countdown(n-1)
        
countdown(3)

3
2
1
Blastoff!

In [51]:
s = 4
n = 3
def print_n(s, n):
    if n <= 0:
        return
    print(s)
print_n(s, n-1)

4

In [74]:
prompt = 'What...is the airspeed velocity of an unladen swallow?\n'
speed = input(prompt)

What...is the airspeed velocity of an unladen swallow?
42

In [75]:
name = input('What...is your name?\n')

What...is your name?
Moneerah Alboulayan

In [86]:
#chapter6
def absolute_value(x):
    if x < 0:
        return -x
    else:
        return x
absolute_value(3)

3

In [87]:
absolute_value(-2)

2

In [91]:
absolute_value(0)

0

In [89]:
def area(radius):
    a = math.pi * radius**2
    return a

In [90]:
area(5)

78.53981633974483

In [28]:
def distance(x1, y1, x2, y2):
    return 0.0

In [29]:
distance(1,2,3,4)

0.0

In [32]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    print('dx is', dx)
    print('dy is', dy)
    return 0.0

In [33]:
distance(1,2,3,4)

dx is 2
dy is 2

0.0

In [37]:
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx**2 + dy**2
    print('dsquared is: ', dsquared)
    return 0.0

In [38]:
distance(2,5,8,1)

dsquared is:  52

0.0

In [52]:
import math
def distance(x1, y1, x2, y2):
    dx = x2 - x1
    dy = y2 - y1
    dsquared = dx**2 + dy**2
    result = math.sqrt(dsquared)
    print (result)
    return result

In [53]:
distance(2,4,6,8)

5.656854249492381

5.656854249492381

In [57]:
import math
def circle_area(xc, yc, xp, yp):
    radius = distance(xc, yc, xp, yp)
    result = area(radius)
    return result

In [59]:
circle_area(2,5,2,5)

0.0

NameError: name 'area' is not defined

In [60]:
import math
def circle_area(xc, yc, xp, yp):
    return area(distance(xc, yc, xp, yp))

In [110]:
def is_divisible(x, y):
    if x % y == 0:
        return True
    else:
        return False

In [111]:
is_divisible(4,4)

True

In [112]:
is_divisible(6,4)

False

In [1]:
def is_divisible(x, y):
    return x % y == 0

In [58]:
is_divisible(25,5)

True

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        recurse = factorial(n-1)
        result = n * recurse
        return result

In [8]:
factorial(0)

1

In [9]:
factorial(4)

24

In [10]:
def fibonacci (n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [11]:
fibonacci(0)

0

In [12]:
fibonacci(12)

144

In [13]:
def factorial (n):
    if not isinstance(n, int):
        print('Factorial is only defined for integers.')
        return None
    elif n < 0:
        print('Factorial is not defined for negative integers.')
        return None
    elif n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [15]:
factorial(3.4)

Factorial is only defined for integers.

In [14]:
factorial(4)

24

In [16]:
factorial(-6)

Factorial is not defined for negative integers.

In [17]:
factorial(1)

1

In [18]:
def factorial(n):
    space = ' ' * (4 * n)
    print(space, 'factorial', n)
    if n == 0:
        print(space, 'returning 1')
        return 1
    else:
        recurse = factorial(n-1)
        result = n * recurse
        print(space, 'returning', result)
        return result

In [19]:
factorial(5)

                     factorial 5
                 factorial 4
             factorial 3
         factorial 2
     factorial 1
 factorial 0
 returning 1
     returning 1
         returning 2
             returning 6
                 returning 24
                     returning 120

120

In [20]:
factorial(0)

 factorial 0
 returning 1

1

In [21]:
factorial(1)

     factorial 1
 factorial 0
 returning 1
     returning 1

1

In [74]:
#chapter7

In [75]:
def countdown(n):
    while n > 0:
        print(n)
        n = n - 1
    print('Blastoff!')

In [77]:
countdown(4)

4
3
2
1
Blastoff!

In [78]:
def sequence(n):
    while n != 1:
        print(n)
        if n % 2 == 0: # n is even
            n = n / 2
        else: # n is odd
            n = n*3 + 1

In [81]:
sequence(2)

2

In [82]:
sequence(5)

5
16
8.0
4.0
2.0

In [84]:
while True:
    line = input('> ')
    if line == 'done':
        break
    print(line)
print('Done!')

> not done
not done
> done
Done!

In [65]:
x = 12
y = 24
a = 2
while True:
    print(x)
    y = (x + a/x) / 2
    if y == x:
        break
    x = y

12
6.083333333333333
3.2060502283105023
1.9149353865426466
1.4796785245231638
1.4156617354722791
1.414214303088646
1.414213562373289
1.414213562373095